<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable FrontPage and press show Menu. You will always load themes from showMenu. Many themes created use a swipe down method to show the menu. If a theme is loaded try to swipe down to see, if it doesn't show you can always use the button below. IMPORTANT: On iOS8 you will need to have top selected, otherwise menu will be below icons.</string>
			<key>label</key>
			<string>Quick Start</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Starts FrontPage and waits for theme selection. To DISABLE FrontPage, do not turn this off, instead press ShowMenu and select SpringBoard</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.junesiphone.frontpage</string>
			<key>key</key>
			<string>enabled</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>FrontPage</string>
			<key>PostNotification</key>
			<string>com.junesiphone.frontpage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>The top and bottom options set where FrontPage is placed. Top will put FrontPage on top of the icons, bottom will put it below the icons. When below SpringBoard icons can still be pressed. You can also still interact with the FrontPage theme below. A theme must define its size to benefit from this.</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>com.junesiphone.frontpage</string>
            <key>key</key>
            <string>top</string>
            <key>validTitles</key>
            <array>
                <string>Bottom</string>
                <string>Top</string>
            </array>
            <key>validValues</key>
            <array>
                <string>0</string>
                <string>1</string>
            </array>
            <key>default</key>
            <string>1</string>
            <key>PostNotification</key>
            <string>com.junesiphone.frontpage/preferences.changed</string>
        </dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>This option will keep the current icons even when Anemone is disabled. (Only if FrontPage theme uses icons) This will need to be disabled when switching Anemone themes if you want to use the newly selected icons. If all icons do not change immediately respring the device to clear the cache.</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.junesiphone.frontpage</string>
			<key>key</key>
			<string>iconlock</string>
			<key>label</key>
			<string>Keep Current Icons</string>
			<key>PostNotification</key>
			<string>com.junesiphone.frontpage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Some devices may require respring for the statusbar options.</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.junesiphone.frontpage</string>
			<key>key</key>
			<string>SBStat</string>
			<key>label</key>
			<string>Hide SB Statusbar</string>
			<key>PostNotification</key>
			<string>com.junesiphone.frontpage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.junesiphone.frontpage</string>
			<key>key</key>
			<string>LSStat</string>
			<key>label</key>
			<string>Hide LS Statusbar</string>
			<key>PostNotification</key>
			<string>com.junesiphone.frontpage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.junesiphone.frontpage</string>
			<key>key</key>
			<string>hideDock</string>
			<key>label</key>
			<string>Hide Dock</string>
			<key>PostNotification</key>
			<string>com.junesiphone.frontpage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.junesiphone.frontpage</string>
			<key>key</key>
			<string>hideIcons</string>
			<key>label</key>
			<string>Hide Icons</string>
			<key>PostNotification</key>
			<string>com.junesiphone.frontpage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.junesiphone.frontpage</string>
			<key>key</key>
			<string>hideDots</string>
			<key>label</key>
			<string>Hide Page Dots</string>
			<key>PostNotification</key>
			<string>com.junesiphone.frontpage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Show installed themes, and apply them. Must have FrontPage enabled.</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>action</key>
			<string>menu</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>ShowMenu</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Final note: Each theme contains a plist. This plist controls if dock, icons, and pagedots are hidden. Here is a respring button for whatever, only works when FrontPage is enabled. My Twitter: @JunesiPhone</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
	</array>
	<key>title</key>
	<string>FrontPage</string>
</dict>
</plist>
