<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable/Disable FrontPage. Requires respring.</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.junesiphone.frontpage</string>
			<key>key</key>
			<string>enabled</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>FrontPage</string>
			<key>PostNotification</key>
			<string>com.junesiphone.frontpage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Majority of the time set to top, but can be set to bottom on certain themes to allow interaction with stock icons</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>com.junesiphone.frontpage</string>
            <key>key</key>
            <string>top</string>
            <key>validTitles</key>
            <array>
                <string>Top</string>
                <string>Bottom</string>
            </array>
            <key>validValues</key>
            <array>
                <string>1</string>
                <string>0</string>
            </array>
            <key>default</key>
            <string>1</string>
            <key>PostNotification</key>
            <string>com.junesiphone.frontpage/preferences.changed</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.junesiphone.frontpage</string>
			<key>key</key>
			<string>hideDock</string>
			<key>label</key>
			<string>Hide Dock (respring)</string>
			<key>PostNotification</key>
			<string>com.junesiphone.frontpage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.junesiphone.frontpage</string>
			<key>key</key>
			<string>hideIcons</string>
			<key>label</key>
			<string>Hide Icons (respring)</string>
			<key>PostNotification</key>
			<string>com.junesiphone.frontpage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.junesiphone.frontpage</string>
			<key>key</key>
			<string>hideDots</string>
			<key>label</key>
			<string>Hide Page Dots (respring)</string>
			<key>PostNotification</key>
			<string>com.junesiphone.frontpage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable FrontPage
Choose Top
Hide Dock
Hide Icons
Hide Dots
Respring
While on the springboard use 2 FINGERS and swipe down.</string>
			<key>label</key>
			<string>Instructions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>When enabled the applied FrontPage widget will not receive or block any touches. (SBHTML Mode)</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.junesiphone.frontpage</string>
			<key>key</key>
			<string>userinteraction</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Disable User Interaction</string>
			<key>PostNotification</key>
			<string>com.junesiphone.frontpage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>If enabled will keep Anemone themed icons for FP themes even if Anemone is disabled.</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.junesiphone.frontpage</string>
			<key>key</key>
			<string>iconlock</string>
			<key>label</key>
			<string>Keep Current Icons</string>
			<key>PostNotification</key>
			<string>com.junesiphone.frontpage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FrontPage © 2018 by @JunesiPhone</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>action</key>
			<string>visitRepo:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Cydia Repo</string>
		</dict>
		<dict>
			<key>action</key>
			<string>visitThemes:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>FrontPage Themes</string>
		</dict>
		<dict>
			<key>action</key>
			<string>visitAPI:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>FrontPage Info (API)</string>
		</dict>
		<dict>
			<key>action</key>
			<string>visitTwitter:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Twitter @JunesiPhone</string>
		</dict>
	</array>
	<key>title</key>
	<string>FrontPage</string>
</dict>
</plist>
