<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable/Disable FrontPage. Note: Screen will dim to lockscreen when disabled.</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.junesiphone.frontpage</string>
			<key>key</key>
			<string>enabled</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>FrontPage</string>
			<key>PostNotification</key>
			<string>com.junesiphone.frontpage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>When enabled the applied FrontPage widget will not receive or block any touches. (SBHTML Mode)</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.junesiphone.frontpage</string>
			<key>key</key>
			<string>userinteraction</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Disable User Interaction</string>
			<key>PostNotification</key>
			<string>com.junesiphone.frontpage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>The top and bottom options set where FrontPage is placed. Top will put FrontPage on top of the icons, bottom will put it below the icons. When below SpringBoard icons can still be pressed. You can also still interact with the FrontPage theme below. A theme must define its size to benefit from this.</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>com.junesiphone.frontpage</string>
            <key>key</key>
            <string>top</string>
            <key>validTitles</key>
            <array>
                <string>Bottom</string>
                <string>Top</string>
            </array>
            <key>validValues</key>
            <array>
                <string>0</string>
                <string>1</string>
            </array>
            <key>default</key>
            <string>1</string>
            <key>PostNotification</key>
            <string>com.junesiphone.frontpage/preferences.changed</string>
        </dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Once you enable FrontPage the current SpringBoard icons are cached. If a FrontPage theme uses icons it can use these cached icons and therefore doesn't require Anemone to theme those icons. If you want to disable Anemone, but keep the themed icons, enable this.</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.junesiphone.frontpage</string>
			<key>key</key>
			<string>iconlock</string>
			<key>label</key>
			<string>Keep Current Icons</string>
			<key>PostNotification</key>
			<string>com.junesiphone.frontpage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Some devices may require respring for the statusbar options.</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.junesiphone.frontpage</string>
			<key>key</key>
			<string>SBStat</string>
			<key>label</key>
			<string>Hide SB Statusbar</string>
			<key>PostNotification</key>
			<string>com.junesiphone.frontpage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.junesiphone.frontpage</string>
			<key>key</key>
			<string>hideDock</string>
			<key>label</key>
			<string>Hide Dock</string>
			<key>PostNotification</key>
			<string>com.junesiphone.frontpage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.junesiphone.frontpage</string>
			<key>key</key>
			<string>hideIcons</string>
			<key>label</key>
			<string>Hide Icons</string>
			<key>PostNotification</key>
			<string>com.junesiphone.frontpage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.junesiphone.frontpage</string>
			<key>key</key>
			<string>hideDots</string>
			<key>label</key>
			<string>Hide Page Dots</string>
			<key>PostNotification</key>
			<string>com.junesiphone.frontpage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Show installed themes, and apply them. Must have FrontPage enabled.</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>action</key>
			<string>menu</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>ShowMenu</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable FrontPage, choose your user interaction option, top or bottom, hide elements you want hidden, finally press show Menu.</string>
			<key>label</key>
			<string>Quick Start</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Some themes have a one finger swipe down gesture. If user interaction is not disabled and you swipe down with one finger, the FrontPage menu will show. Two finger swipe up will show iWidget Menu. If FrontPage is set to bottom you can move iWidgets by tap hold.</string>
			<key>label</key>
			<string>Tips:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>IMPORTANT: On iOS8 you will need to have top selected, otherwise menu will be below icons.</string>
			<key>label</key>
			<string>iOS8:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FrontPage © 2017 by @JunesiPhone</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>action</key>
			<string>visitRepo:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Cydia Repo</string>
		</dict>
		<dict>
			<key>action</key>
			<string>visitThemes:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>FrontPage Themes</string>
		</dict>
		<dict>
			<key>action</key>
			<string>visitAPI:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>FrontPage Info</string>
		</dict>
		<dict>
			<key>action</key>
			<string>visitTwitter:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Twitter @JunesiPhone</string>
		</dict>
	</array>
	<key>title</key>
	<string>FrontPage</string>
</dict>
</plist>
